*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
*.dex
*.jar
*.log
*.pyc
*.pyo
*.pdb
*.dylib
*.so
*.o
*.a
*.pb.h
*.pb.cc
*.pb.swift
*.hmap
*.bpa
*.asm
*.cpp
*.m
*.mm
*.pch
*.xcdoc
*.xcuserstate
project.xcworkspace
xcuserdata
*.dSYM.zip
*.dSYM
*.framework
*.mdb
*.p12
*.p8
*.keystore
*.jks
*.gpg
*.gpg.bak
*.backup
*.tmp
*.bak
*.swp
*~
~
.DS_Store
Thumbs.db
